#gastos-list-title{
  margin: 20px 200px 20px;

}
.filtros-total-container{
  width: 80%;
  height: auto;
  margin: 0 auto;
  @extend .fl-ro-spcbtw;
  align-items: center;
}
.gastos-filtros-container{
  width: 80%;
  padding: 20px;

  @extend .fl-ro-spcbtw;
  align-items: flex-start;

  border: 2px solid #aaa;
  border-radius: 5px;
}

.type-filter-container{
  width: 45%
}
#total-gastos-container{
  @extend .flex-column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  margin: 10px;
  background-color: #eee;
  border: 2px solid #444;
  border-radius: 5px;

  h3{
    text-align: center;
  }
}

#gastos-list-container{
  width: 80%;
  margin: 10px auto;
  border: 2px solid #aaa;
  border-radius: 5px;
}

.no-gastos-text{
  padding: 40px;
  text-align: center;

}

.gasto-individual-container{
  width: 90%;
  padding: 20px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 5px;

  @extend .fl-ro-spcbtw;
  align-items: center;
}
.edit-remove-container{
  width: auto;
  height: 90%;
  @extend .flex-column;
  justify-content: space-around;
  align-items: center;

  button{
    margin: 5px
  }
}
.nadeda-amount{
  width: 80%;
  height: 90%;
  @extend .fl-ro-spcbtw;


  h3{
    display: inline-block;
    border-bottom: 2px solid #444;
  }
}

.name-description{
  @extend .flex-column;
  justify-content: between;
  align-items: flex-start;
}
.date-amount{
  align-items: flex-end;
  margin-right: 20px
}

#summary-container{
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  border: 5px solid #444;
  border-radius: 5px;
  background-color: #ccc;

  #summary-text{
    text-align: center;
  }
}
