#navbar-container{
  width: 90%;
  height: 100px;
  margin: 0 auto;
  @extend .fl-ro-spcbtw;
  align-items: center;

  nav{
    width: 30%;
    @extend .fl-ro-spcbtw;
    align-items: center;
  }
}

nav.loggedOut{
  text-align: right;
  // justify-content: flex-start;
  background-color: #ccc
}

.active-navlink{
  font-weight: bold;

}

#gohome-button{
  // color: pink;
  // border: 1px solid red
}

#navbar {
  // border: 1px solid black

}
