#loading-container{
  width: 100vw;
  height: 100vh;
  @extend .flex-column;
  justify-content: center;
  align-items: center;
  #loading-box{
    width: 20vw;
    height: 20vw;
    @extend .flex-column;
    justify-content: center;
    align-items: center;
  h1{
    // position: absolute;
    text-align: center;
    margin: 20px 0 -30px;
    z-index: 1;
    }
  img{
    width: inherit;
    margin-top: -30px;
    display: block;
    z-index: 0;
    margin: -10% auto;
  }
  }
}
