*{
  font-family: "mainfont";
  font-weight: 400;
}



#content{

  width: 80%;
  margin: 0 auto;
}


button{
  margin: 20px;
}


.btn-danger{
  background-color: #db6e6a;
  border: 0px;
}

.btn-primary{
  background-color: #3D6A8F;
  border: 0px;
}
