*{
  font-family: "mainfont";
  font-weight: 400;
}

#content{
  width: 80%;
  margin: 0 auto;
}

button{
  @extend .button-anchor-style
}

.btn-negative{
  background-color: $btn-remove-color;
  border: $btn-remove-color;
}


.btn-positive{
  background-color: $btn-accept-color;
  border: $btn-accept-color;
}
