// COLORS
$background-main-color: #8bc0da;
$background-secundary-color: #C5E0ED;
$navbar-text-color: #840606;
$btn-remove-color: #db6e6a;
$background-modal: #52A5F850;
$background-main: white;
$border-options: #ddd;
$btn-accept-color: #5087B7;

$border: 1px solid red;


// FLEX TYPES
.flex-row{
display: flex;
flex-direction: row;
}

.flex-column{
display: flex;
flex-direction: column;
}
.fl-ro-spcbtw{
  @extend .flex-row;
  justify-content: space-between;
}


// @font-face {
//    font-family: mainfont;
//    src: url("../../public/fonts/Lato-Bold.ttf");
//    font-weight: bold;
//    font-style: normal;
// }
//
// @font-face {
//    font-family: mainfont;
//    src: url("../../public/fonts/Lato-Light.ttf");
//    font-weight: lighter;
//    font-style: normal;
// }
//
// @font-face {
//    font-family: mainfont;
//    src: url("../../public/fonts/Lato-Italic.ttf");
//    font-weight: normal;
//    font-style: italic;
// }
//
// @font-face {
//    font-family: mainfont;
//    src: url("../../public/fonts/Lato-Thin.ttf");
//    font-weight: lighter;
//    font-style: normal;
// }

@font-face {
  font-family: mainfont;
  src: url("../public/fonts/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
