// COLORS
$background-main-color: #8bc0da;
$background-secundary-color: #C5E0ED;
$navbar-text-color: #840606;
$btn-remove-color: #db6e6a;
$background-modal: #52A5F850;
$border-options: #ddd;
$btn-accept-color: #5087B7;

$border: 1px solid red;


// FLEX TYPES
.flex-row{
display: flex;
flex-direction: row;
}

.flex-column{
display: flex;
flex-direction: column;
}
.fl-ro-spcbtw{
  @extend .flex-row;
  justify-content: space-between;
}

// FONT
@font-face {
    font-family: 'latoregular';
    src: url('../../public/fonts/lato-webfontkit/lato-regular-webfont.woff2') format('woff2'),
         url('../../public/fonts/lato-webfontkit/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// BUTTON/ANCHOR
.button-anchor-style{
    padding: 10px;
    color: white;
    border-radius: 3px;
    margin: 16px;
}
